<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-primary py-0">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item nav-link" href="/">Home</span></a>
            <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
            <a class="nav-item nav-link" href="/campgrounds/new">New Campground</a>
        </div>
        <div class="navbar-nav ms-auto ">
            <!-- If a user has not logged in then register and login links will be shown else only logout link will be enabled -->
            <% if(!currentUser){ %>
                <a class="nav-item nav-link" href="/register">Register</span></a>
                <a class="nav-item nav-link" href="/login">Login</a>
                <% } else{ %>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                    <% } %>
        </div>
    </div>
</nav>