<% layout('layouts/boilerplate') -%>
  <form action="/campgrounds/<%= campground._id %>/edit?_method=PUT " method="post">
    <div>
      <label for="title">Title</label>
      <input type="text" name="campground[title]" id="title" value="<%= campground.title %> " />
    </div>
    <div>
      <label for="loc">Location</label>
      <input type="text" name="campground[location]" id="loc" value="<%= campground.location %> " />
    </div>
    <button>Edit</button>
  </form>
  <a href="/campgrounds">All Campgrounds</a>