<!-- Adding the layout  -->
<% layout('layouts/boilerplate') -%>
    <!-- Displaying the html page in a row -->
    <div class="row">

        <h1 class="text-center">New Camground</h1>

        <!-- Centering the form using offset -->
        <div class="col-6 offset-3">

            <form action="/campgrounds/new" method="post" class="validate-form" novalidate
                enctype="multipart/form-data">

                <!-- Campground Title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Campground Location -->
                <div class="mb-3">
                    <label class="form-label" for="loc">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="loc" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Campground Image Url
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->

                <div class="mb-3">
                    <input type="file" name="image" id="imagex" multiple>
                </div>

                <!-- Campground Price -->
                <div class="mb-3">
                    <label class="form-label" for="image">Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="price">$</span>
                        </div>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Username" id="price"
                            name="campground[price]" aria-describedby="price" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <!-- Campground Description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description </label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Campground Add Button -->
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>